thread_pool_size = 8
min_runtime_delta = 30
lookback_timeframe = 60
enable_hooks = false
ignore_skip = false

[db]
host = ""
port = 27017
name = ""
username = ""
password = ""

[mm]
key = ""
secret = ""
changelog_max_timespan = 2505600

[log]
location = "error.log"

# This is a sample hook definition. They are not required and can defined for
# each of the different Media Manager types
[hooks]
asset = [
  { url = "", username = "", password = "" }
]
