#!/bin/bash
# chkconfig: 35 20 80
# description: Media Manager API Notifier

prog="mm_api_notify"
prog_config=/etc/sysconfig/$prog
prog_flags="--config $prog_config"
exec=/usr/sbin/$prog

# Source function library.
. /etc/init.d/functions

start() {
  echo -n "Starting Media Manager Notifier: "
  daemon $exec $prog_flags > /dev/null 2>&1 &
  echo_success
  echo
  return 0
}

build() {
  prog_flags="--config $prog_config -b"
  start
}

stop() {
  echo -n "Stopping Media Manager Notifier: "
  killproc $prog
  echo
  return 0
}

case "$1" in
  start)
     start
     ;;
  rebuild)
    build
    ;;
  stop)
    stop
    ;;
  restart)
    stop
    start
    ;;
  status)
    # code to check status of app comes here
    # example: status program_name
    status $prog
    ;;
  *)
    echo "Usage: $0 {start|stop|status|restart|rebuild}"
esac

exit 0
