#!/bin/bash
# chkconfig: 35 20 80
# description: Media Manager API Importer

prog="mm_api_import"
prog_config=/etc/sysconfig/$prog
exec=/usr/sbin/$prog

# Source function library.
. /etc/init.d/functions

start() {
  # code to start app comes here
  # example: daemon program_name &
  echo -n "Starting Media Manager Importer: "
  daemon $exec --config $prog_config > /dev/null 2>&1 &
  return 0
}

stop() {
  # code to stop app comes here
  # example: killproc program_name
  echo -n "Stopping Media Manager Importer: "
  killproc $prog
  return 0
}

case "$1" in
    start)
       start
       ;;
    stop)
       stop
       ;;
    restart)
       stop
       start
       ;;
    status)
       # code to check status of app comes here
       # example: status program_name
			 status $prog
       ;;
    *)
       echo "Usage: $0 {start|stop|status|restart}"
esac

exit 0
